div.input-data > *.add-csv-file { display: none; }
div.input-data > *.del-last { display: none; }
div.output-data > *.add-var-get { display: inline-block; }
div.output-data > *.del-last { display: inline-block; }
#exec { display: inline-block; }
#break_if_in_debugger { display: none; }
#break-before-exec { display: none; }
#take-snapshot { display: none; }
#clear-snapshots { display: none; }
#revert-snapshot { display: none; }
#download { display: block; }
#download-anchor { display: inline-block; }
#mark-space { display: inline-block; }
